In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.linear_model import LogisticRegression

In [3]:
url='https://raw.githubusercontent.com/sakshi2k/Social_Network_Ads/master/Social_Network_Ads.csv'
df=pd.read_csv(url)
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [11]:
df=pd.get_dummies(df)
df=df.apply(lambda x:x.astype(int))
df

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0              0            1
1    15810944   35            20000          0              0            1
2    15668575   26            43000          0              1            0
3    15603246   27            57000          0              1            0
4    15804002   19            76000          0              0            1
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1              1            0
396  15706071   51            23000          1              0            1
397  15654296   50            20000          1              1            0
398  15755018   36            33000          0              0            1
399  15594041   49            36000          1              1            0

[400 rows x 6 columns]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x=df.drop(columns=['Purchased'])
y=df['Purchased']

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,shuffle=True)

In [15]:
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score

In [25]:
conf_matrix=confusion_matrix(y_test,y_pred)

In [26]:
TP=conf_matrix[1,1]
TN=conf_matrix[0,0]
FN=conf_matrix[0,1]
FP=conf_matrix[1,0]

In [27]:
TP,FP,TN,FN

(12, 13, 53, 2)

In [28]:
precision = precision_score(y_test,y_pred)
precision

0.8571428571428571

In [29]:
recall=recall_score(y_test,y_pred)
recall

0.48

In [30]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.8125

In [31]:
error_rate=1-accuracy
error_rate

0.1875