In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
from sklearn.naive_bayes import GaussianNB

In [3]:
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [4]:
x=df.drop(columns=['species'])
y=df['species']

In [7]:
model=GaussianNB()

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,shuffle=True)

In [9]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [10]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score

In [12]:
conf_matrix=confusion_matrix(y_test,y_pred)
TP=conf_matrix[1,1]
FP=conf_matrix[1,0]
TN=conf_matrix[0,0]
FN=conf_matrix[0,1]
TP,FP,TN,FN

(17, 0, 13, 0)

In [13]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

1.0

In [15]:
error_rate=1-accuracy
error_rate

0.0

In [18]:
precision=precision_score(y_test,y_pred,average='micro')
precision

1.0

In [19]:
recall=recall_score(y_test,y_pred,average='micro')
recall

1.0